.container1
  %h1 My Trupoly Summary

.irr_container
  %h2 
  IRR
  =@user.IRR?

.account_total_container
  %h3 
  Account Total $
  =@user.account_total

.rent_rec_container
  %h4 
  Rent Received $
  =@user.account_balance

.account_stats_container
  %h5
  Value:
  =@user.account_invested
  %br
  Properties:
  %br
  Available for Withdrawl
  =@user.account_balance


%h6
= link_to 'Sign Out', :logout