/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


* {
  font-family: Garamond;
}


.bg_photo {
  position: fixed;
  left: 0%;
  top: 0%;
}



.container {
  padding: 10px;
  position: fixed;
  top: 15%;
  left: 10%;
  width: 80%;
  height: 75%;
  background-color: #F0F0F0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: center;
}

.container1 {
  outline: #000000 solid medium;
  padding: 10px;
  position: fixed;
  top: 15%;
  left: 10%;
  width: 80%;
  height: 75%;
  background-color: #F0F0F0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.irr_container {
  outline: #000000 solid medium;
  padding: 10px;
  position: fixed;
  top: 30%;
  left: 13%;
  width: 15%;
  height: 10%;
  background-color: #FFFFFF;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 30px;
  text-align: center;
}

.account_total_container {
  outline: #000000 solid medium;
  padding: 10px;
  position: fixed;
  top: 30%;
  left: 31%;
  width: 15%;
  height: 10%;
  background-color: #FFFFFF;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 20px;
  text-align: center;
}

.rent_rec_container {
  outline: #000000 solid medium;
  padding: 10px;
  position: fixed;
  top: 30%;
  left: 49%;
  width: 15%;
  height: 10%;
  background-color: #FFFFFF;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 20px;
  text-align: center;
}


h1 {
  font-family: Garamond;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: #000000;
}

.header1 {
  position: fixed;
  left: 10%;
  top: 1%;
}

.logo {
  position: absolute;
  left: 50%;
  margin-left: -125px;
  top: -77px;
}

.footer {
  top: 95%;
  text-align: center;
}

.button {
  background-color: #006666;
  border-radius:6px;
  display:inline-block;
  color:#e8e8e8;
  font-family:'Helvetica Neue';
  font-weight: bold;
  padding: 15px;
  font-size: 15px;
  border: none;
}

.logout_button {
  position: absolute;
  right: 10px;
  top: 15px;
}